*, *::before, *::after {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    transition: all 0.35s ease;
}
body {
    color: #333333;
    font-family: 'Poppins', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
button {
    cursor: pointer;
}
h1 {
    font-size: 52px;
    font-weight: 600;
    margin: 10px 0;
}

h2 {
    font-size: 32px;
    font-weight: 600;
    margin: 10px 0;
}
h3 {
    font-size: 42px;
    font-weight: 600;
}
p {
    font-size: 18px;
}
.container {
    max-width: 1270px;
    margin: 0 auto;
    padding: 5vmin;
}
.hero {
    width: 100%;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cdn-input {
    background: #ffffff;
    max-width: 600px;
    margin: 0 auto;
}
.cdn-input > div:first-child {
    background: #ffffff;
    height: 60px;
    white-space: nowrap;
    width: 80%;
    padding-left: 10px;
    display: inline-flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 10px;
    border: 3px solid;
    border-radius: 10px 0 0 10px;
    border-right: none;
    font-size: 1.2rem;
    position: relative;
    overflow: hidden;
}
.cdn-input > button:last-child {
    height: 60px;
    white-space: nowrap;
    width: 20%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 0px 10px 10px 0px;
    border-right: none;
    border: 3px solid #333333;
    text-align: center;
    color: #ffffff;
    font-size: 1.2rem;
    background: #333333;
    cursor: pointer;

}
.cdn-input:hover > div:first-child {
    width: 0;
    padding-left: 0;
    border-color: transparent;
}
.cdn-input:hover > button {
    width: 100%;
    border-radius: 10px;
}
.cdn-input > div:first-child:after {
    content: '';
    position: absolute;
    right: 0;
    width: 60px;
    height: 100%;
    background: linear-gradient(to right, transparent, #ffffff);
}
.feature {
    width: 300px;
    padding: 1rem;
    display: inline-flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 50px;
}
.feature span {
    width: 50px;
    height: 50px;
    font-size: 20px;
    margin: 10px;
    border-radius: 50%;
    border: 2px solid #dddddd;
    color: #888888;  /* Fallback: assume this color ON TOP of image */
}
.hero-full {
   height: 100vh; 
}
.hero-title {
    font-size: 10vmin;
    font-weight: 200;
    text-align: center;
    margin-top: 100px;
    text-transform: uppercase;
    color: #333333;  /* Fallback: assume this color ON TOP of image */
}

.hero-desc {
    font-size: 24px;
    font-weight: 400;
    text-align: center;
    margin-top: -10px;
}
.btn-primary, .btn-accent {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    height: 50px;
    font-weight: 400;
    color: white;
    background: #333333;
    border-radius: 5px;
    padding: 0 24px;
}
.btn-accent {
    background-color: transparent;
    color: #333333;
    border: 2px solid;
}
.dots:after {
    content: '';
    position: absolute;
    width: 25px;
    left: 0;
    top: 50%;
    transform: translateY(-50%) translateX(-100%);
    
    height: 25px;
    background: #333333;
    border-radius: 50%;
}
.dots {
    background: #333333;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    position: relative;
    margin-left: 30px;
    top: 20px;
}
.dots:before {
    content: '';
    position: absolute;
    width: 15px;
    right: 0;
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%) translateX(100%);
    height: 15px;
    background: #333333;
}
.space-h {
    height: 15px;
}
.space-v {
    width: 15px;
}
.flex {
    display: flex;
}
.flex-center {
    justify-content: center;
    align-items: center;
}
.flex-item-full {
    flex: 1;
}
.m-r-sm {
    margin-right: 5px;
}
.p-t-md {
    padding-top: 15px;
}
.p-l-md {
    padding-left: 15px;
}
.text-center {
    text-align: center;
}
.displayer {
    margin-top: 10vmin;
}
.displayer > div {
    border: 1px solid #ddd;
    margin-right: 30px;
    display: inline-block;
    height: 300px;
    width: calc(50% - 22px);
    overflow: hidden;
    padding: 20px;
}
.displayer > div:nth-child(odd) {
    margin-right: 0;
}
.single > div {
    width: 150px;
    height: 150px;
    position: relative;
    background: #333333;
    background-image: linear-gradient(135deg, #7d7d7d, #202020);
}
.single {
    position: relative;
    margin-top: 10px;
}
.single > span {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 100px;
    width: 100%;
    background: #333333;
    color: #ffffff;
    padding: 20px 0;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    z-index: 1;
    transition: all 0.2s ease-in-out;
}
.single > button {
    width: 40px;
    height: 40px;
    font-size: 25px;
    border-radius: 50%;
    position: absolute;
    right: 10px;
    top: 10px;
    background: transparent;
    border: 3px solid;
    color: #888888;
    padding-bottom: 1px;
    cursor: pointer;
}
.single > button:hover {
    color: #333333;
}
.single > button:focus {
    outline: none;
}
.single > span:hover {
    transform: translateY(0px);
}
.single > div {
    margin: 0 auto;
    animation-fill-mode: none;
    animation-iteration-count: 1;
}
.single > span > p {
    text-align: center;
    font-size: 2rem;
    position: absolute;
    top: 25px;
    left: 50%;
    white-space: nowrap;
    transform: translateX(-50%);
    transition: all 0.2s ease-in-out;
}

.single > span > button {
    height: 50px;
    padding: 0 1rem;
    top: 25px;
    position: absolute;
    left: 50%;
    z-index: 1;
    transform: translateX(-50%);    
    border: 2px solid #fff;
    background: transparent;
    font-size: 1.1rem;
    color: #fff;
    display: inline-flex;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    padding-bottom: 3px;
    border-radius: 5px;
    opacity: 0;
    transition: all 0.2s ease-in-out;
}
.single > span:hover > p {
    filter: blur(40px);
}
.single > span:hover > button {
    opacity: 1;
}
.duration-changer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.duration-changer > div > button {
    padding: 0 1rem;
    height: 40px;
    font-size: 1rem;
    background: transparent;
    border-radius: 5px;
    border: 2px solid;
    margin-right: 10px;
    font-weight: 500;
    cursor: pointer;
}
.duration-changer > div > button:last-child {
    margin-right: 0;
}
.duration-changer > div > button.active {
    background: #333333;
    color: #ffffff;
    border: 2px solid #333333; 
}
@keyframes dramatic {
    from {
        transform: translateX(60vw) rotate(50deg);
    }
    to {
        transform: translateX(0%) rotate(0deg);
    }
}
.slower .single > div {
    animation-duration: 0.7s;
}
.slowest .single > div {
    animation-duration: 2s;
}
.subtle > div {
    width: 150px;
    height: 150px;
    position: relative;
    background: #333333;
}
.center {
    margin: 0 auto;
    text-align: center;
}

.line {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    transform: translateX(-25%);
    background: #333333;
    margin: 0 auto;
    margin-bottom: 30px;
    margin-top: -10px;
}
.card {
    width: 400px;
    padding: 5rem 2rem;
    background: #fefefe;
    margin: 2rem auto;
    border-radius: 5px;
    text-align: center;
    box-shadow: 0 1px 5px rgba(0,0,0,0.2);

}
.avatar {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-image: url(http://thefarazkhan.in/img/Faraz_Khan_Avatar.jpg);
    background-position: center;
    background-size: contain;
    margin: 0 auto;
    background-repeat: no-repeat;
    border: 4px solid #333333;
}
.name {
    text-align: center;
    font-weight: bold;
    font-size: 1.5rem;
    margin: 1rem 0 0.5rem;
}
.small-line {
    width: 20px;
    height: 2px;
    background: #333333;
    margin: 10px auto;
}
.bio {
    font-size: 1rem;
    text-align: center;
    margin-bottom: 2rem;
}
.cta {
    margin: 0 auto;
}
#about {
    padding: 5rem 0;
    text-align: center;
}
.desc {
 max-width: 500px;
 margin: 0 auto;
}
.footer{
    width: 100%;
    height: 100px;
    background: #333333;
    display: flex;
    justify-content: center;
    color: #fff;
    font-size: 2rem;
    align-items: center;
}
.footer a {
    color: #fff;
}
.skills {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    margin-top: 20px;
}
.skills > span {
    font-size: 2.3rem;
    margin: 0 10px;
}
@media only screen and (max-width: 850px) {
    .displayer > div {
        width: 100%;
        margin-right: 0;
    }
    body {
        padding: 0 1rem;
    }
    h1 {
        font-size: 35px;
    }
    h2 {
        font-size: 24px;
    }
    .duration-changer {
        flex-direction: column;
    }
    .duration-changer > div {
        display: flex;
        justify-content: center;
        margin-bottom: 40px;

    }
}